<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpME</title>
     <link rel="stylesheet" href="/stylesheets/main.css" />
      <link rel="stylesheet" href="/stylesheets/liste-tickets.css" />
</head>
<body>
       <%- include('fragments/header') %>

       <div class="page-container">
              <h1 class="page-title">Tickets</h1>

              <section class="tickets-section">
                     <div class="tickets-container">
              
              </div>

         </section>
        </div>

       <%- include('fragments/footer') %>
</body>
</html>